@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased font-primary font-light text-grey-200 bg-black;
  }

  main {
    @apply pt-0;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[1504px] px-4;

    /* @screen 2xl {
        @apply px-4;
      } */
  }

  .gap-x-grid {
    /* FIXME: Specify the real grid "gap-x-" for each breakpoint */
    @apply gap-x-10;
  }
}

@layer utilities {
  /*
    Handy CSS class to prevent Input background color becomes yellow in Chrome on autofill.
    Works as well with inputs with transparent background.

    https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  */
  .remove-autocomplete-styles:-webkit-autofill,
  .remove-autocomplete-styles:-webkit-autofill:hover,
  .remove-autocomplete-styles:-webkit-autofill:focus {
    transition: background-color 5000s;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
