@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased font-primary font-light -tracking-[0.02em] text-grey-200 bg-black overflow-x-hidden;
  }

  h1,
  h2 {
    @apply font-secondary;
  }

  h2 {
    @apply text-5xl leading-[1.125] text-white;
  }

  h3 {
    @apply text-xl leading-tight text-white font-medium;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[1504px] px-4;
  }

  .description {
    @apply text-xl leading-normal;
  }
}

@layer utilities {
  /*
    Handy CSS class to prevent Input background color becomes yellow in Chrome on autofill.
    Works as well with inputs with transparent background.

    https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
  */
  .remove-autocomplete-styles:-webkit-autofill,
  .remove-autocomplete-styles:-webkit-autofill:hover,
  .remove-autocomplete-styles:-webkit-autofill:focus {
    transition: background-color 5000s;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .text-gradient {
    @apply text-transparent bg-clip-text bg-custom-gradient;
  }
}
